@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #012;
    display: flex;
    font-family: 'Roboto';
}

.nav {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    position: relative;
    justify-content: space-evenly;
}

.nav__img {
    /* margin: 30px 0px; */
    height: 175px;
}
.nav__img img {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    padding: 2px;
    box-shadow: 0 0px 25px red;
}

.nav__profiletext {
    color: #aaa;
    text-align: center;
    /* margin-bottom: 20px; */
}

.nav__profiletext h2 {
    font-size: 1.3rem;
}

.nav__profiletext h2 strong {
    color: white;
    font-size: 1.4rem;
}

.nav__profiletext p {
    margin-top: 10px;
    font-size: .8rem;
}

.nav__contact a {
    text-decoration: none;
}

.nav__contact a > i {
    color: #aaa;
    font-size: 18px;
    transition: transform .5s ease-in-out;
}

.nav__contact a > i:hover {
    color: red;
    transform: rotate(720deg);
}

.nav__contact a > p{
    display: none;
}

.nav__contact {
    position: fixed;
    left: 10px;
    top: 10px;
}

.nav__contact ul {
    list-style: none;
    color: grey;
}

.nav__contact li {
    margin: 6px;
}

.nav__nav ul {
    list-style: none;
    color: whitesmoke;
}

.nav__nav li {
    width: 95vw;
    background-color: #123;
    margin: 3px;
    padding: 5px;
    text-align: center;
    font-size: 1.6rem;
}

.nav__nav li:first-of-type {
    border-radius: 10px 10px 0 0 ;
}
.nav__nav li:last-of-type {
    border-radius: 0 0 10px 10px;
}


.nav__impressum {
    color: #234;
    font-size: .8rem;
    padding-bottom: 5px;
}

/* Iphone X */
@media only screen and (min-width: 350px) {

    .nav__img img {
        width: 230px;
        height: 230px;
        border-radius: 50%;
        padding: 2px;
        box-shadow: 0 0px 25px red;
    }

    .nav__profiletext {
        margin-top: 50px;
    }

    .nav__profiletext h2 strong,
    .nav__profiletext h2
    {
        font-size: 1.8rem;
    }

    .nav__profiletext p {
        font-size: 1rem;
    }
    .nav__contact {
        position: unset;   
    }
    .nav__contact ul {
        display: flex;
        flex-direction: row;
    }

    .nav__nav li {
        width: 95vw;
        background-color: #123;
        margin: 4px;
        padding: 10px;
        text-align: center;
        font-size: 1.8rem;
    }
}