@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #012;
    display: flex;
    font-family: 'Roboto';
}

.nav {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    position: relative;
}

.nav__img {
    margin: 30px 0px;
    height: 175px;
}
.nav__img img {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    padding: 2px;
    box-shadow: 0 0px 25px red;
}

.nav__profiletext {
    color: #aaa;
    text-align: center;
    margin-bottom: 20px;
}

.nav__profiletext h2 {
    font-size: 1.3rem;
}

.nav__profiletext h2 strong {
    color: white;
    font-size: 1.4rem;
}

.nav__profiletext p {
    margin-top: 10px;
    font-size: .8rem;
}

.nav__contact a {
    text-decoration: none;
}

.nav__contact a > i {
    color: #aaa;
    font-size: 18px;
    transition: transform .5s ease-in-out;
}

.nav__contact a > i:hover {
    color: red;
    transform: rotate(720deg);
}

.nav__contact a > p{
    display: none;
}

.nav__contact ul {
    position: fixed;
    left: 10px;
    top: 30px;
    list-style: none;
    color: grey;
}

.nav__contact li {
    margin: 6px;
}

.nav_nav {
    position: absolute;
    bottom: 10px;
    right: -65%;
}

.nav__nav ul {
    
    list-style: none;
    color: whitesmoke;
    transform: rotate(-30deg);
}

.nav__nav li {
    width: 200vw;
    background-color: #123;
    margin: 3px 0px;
    padding: 6px;
    text-align: center;
    border-radius: 3px;
    font-size: 1.6rem;
    
}

.nav__impressum {
    color: #234;
    font-size: .8rem;
}